<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org">
<head >
	<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="enDesarrollo" class="container">
		<div class="col" style="text-align: center;">
			<hr />
			<div class="row pt-5">
				<h4>
					<span th:text="${titulo}">[titulo]</span>
					<span> - en desarrollo</span>
				</h4>
			</div>
			<div class="row spinner-border m-5" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<hr />
			<div class="row d-flex justify-content-center">
				<a class="btn btn-warning" style="width: auto;"
					href="http://localhost:8080">Volver a inicio</a>
			</div>
		</div>
	</div>
</body>
</html>