<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="scripts">
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
		<script>
			$(document).ready(function() {
			    $('#tabla').DataTable({
			    	"responsive": true,
					"language": {
						"lengthMenu": "Mostrar _MENU_ Registros por páginas",
						"zeroRecords": "No se encontraron registros",
						"info": "Mostrando Página _PAGE_ de _PAGES_",
						"infoEmpty": "No encontre registros",
						"search": "Buscar:",
						"zeroRecords": "No encontramos registros",
						"paginate": {
							"first": "Primera",
							"last": "Ultima",
							"next": "Siguiente",
							"previous": "Anterior"
						},
						"aria": {
							"sortAscending": ":activar para ordenar la columna ascendente",
							"sortDescending": ":activar para ordenar la columna descendente"
						}
					}
			    });
			    
			} );
		</script>
	</div>
</body>
</html>