<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<div class="container d-flex justify-content-center">
			<form method="get" th:action="@{/inspectores/alta}" class="col-md-6" th:object="${inspector}">
				<input type="hidden" name="legajo" th:value="*{legajo}">
				<div class="row">
					<div class="input-group mb-3">
					  <span class="input-group-text">Nombre</span>
					  <input type="text" class="form-control" name="nombre" th:value="*{nombre}" placeholder="Ingrese el nombre" required>
					</div>
				</div>
				<div class="row">
					<div class="input-group mb-3">
					  <span class="input-group-text">Apellido</span>
					  <input type="text" class="form-control" name="apellido" th:value="*{apellido}" placeholder="Ingrese el apellido" required>
					</div>
				</div>
				<div class="row">
					<div class="input-group mb-3">
					  <span class="input-group-text">DNI</span>
					  <input type="number" min="11111111" name="dni" max="99999999" class="form-control" th:value="*{dni}" placeholder="Ingrese el dni" required>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex justify-content-center">
						<input type="submit" class="btn btn-success" name="btnAgregar" value="Agregar">
					</div>
				</div>
			</form>
		</div>
		<div th:replace="layout/estructura :: desarrollo"></div>
	</body>
	<script	th:replace="layout/estructura :: scripts"></script>
</html>