<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<div class="container pt-1">
			<div class="col-md-12 d-flex justify-content-center">
				<a class="btn btn-success" href="/agregarInspector"><i class="bi bi-file-plus">&nbsp;Nuevo inspector</i></a>
			</div>
			<div class="col-md-12">
				<div class="row d-flex justify-content-center">
				</div>
				<div class="row">
					<table id="tabla" class="table table-striped table-bordered table-sm table-responsive pt-1 pb-1">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<div th:if="${listaInspectores != null or listaInspectores.isEmpty}">
								<tr th:each="inspector : ${listaInspectores}">
									<td th:text="${inspector.getDni().getNumero()}">[DNI]</td>
									<td th:text="${inspector.getNombre}">[Nombre]</td>
									<td class="text-center">
										<a class="btn btn-warning p-1"><i class="bi bi-pencil-square" title="Editar"></i></a>
										<a class="btn btn-danger p-1"><i class="bi bi-trash" title="Borrar"></i></a>
									</td>
								</tr>
							</div>
						</tbody>
					</table>
			</div>
				<div class="row">
					<div class="col d-flex justify-content-center">
						<a class="btn btn-success" style="width: auto;" th:href="@{/index}">Volver a inicio</a>
					</div>
				</div>		
			</div>
		</div>
		<hr/>
		<script	th:replace="layout/estructura :: scripts"></script>
	</body>
</html>