<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<hr/>
		<div class="container pt-1">
			<div class="col-md-12 d-flex justify-content-center">
				<a class="btn btn-success" href="/agregarPropietario"><i class="bi bi-file-plus">&nbsp;Nuevo propietario</i></a>
			</div>
			<div class="col-md-12">
				<div class="row d-flex justify-content-center">
				</div>
				<div class="row">
					<table id="tabla" class="text-center table table-striped table-bordered table-sm table-responsive pt-1 pb-1">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Es excento</th>
								<th>Vehiculo: Matricula</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<div th:if="${listaPropietarios != null or listaPropietarios.isEmpty}">
								<tr th:each="PyV : ${listaPropietarios}">
									<td th:text="${PyV.getPropietario.getDni}">[DNI]</td>
									<td th:text="${PyV.getPropietario.getNombre}">[Nombre]</td>
									<td th:text="${PyV.getPropietario.getApellido}">[Apellido]</td>
									<td th:text="${PyV.getPropietario.esExento}">[EsExento]</td>
									<td th:text="${PyV.getVehiculo.getMatricula}">[Vehiculo]</td>
									<td>
										<a class="btn btn-warning p-1" th:href="@{/editarPropietario/} + ${PyV.getPropietario.getDni}"><i class="bi bi-pencil-square" title="Editar"></i></a>
										<a class="btn btn-danger p-1" th:href="@{/eliminarPropietario/} + ${PyV.getPropietario.getDni}"><i class="bi bi-trash" title="Borrar"></i></a>
									</td>
								</tr>
							</div>
						</tbody>
					</table>
			</div>
				<div class="row">
					<div class="col d-flex justify-content-center">
						<a class="btn btn-success" style="width: auto;" th:href="@{/index}">Volver a inicio</a>
					</div>
				</div>		
			</div>
		</div>
		<hr/>
</body>
	<script	th:replace="layout/estructura :: scripts"></script>
</html>