<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<div class="container text-center pt-3 mb-3">
			<form method="post" th:action="@{/guardarInspeccion}" class="form-control mb-3 pt-2 d-flex justify-content-center" th:if="${estado != null}">
				<input type="hidden" th:value="${estado}" name="estado">
				<input type="hidden" th:value="${vehiculo.getID}" name="idVehiculo">
				<span th:if="${inspectorActual != null}">
					<input type="hidden" th:value="${inspectorActual.getLegajo}" name="legajo">
				</span>
				<div class="col-md-6">
					<div class="row">
						<h4>Resultado de la inspeccion: <b>[[${estado}]]</b></h4>
						<h5>Fecha de realización: [[${fecha}]]</h5>
						<br>
						<p>
							Datos del vehículo:
							<br>
							[[${vehiculo.getMarca}]] [[${vehiculo.getModelo}]], Matrícula [[${vehiculo.getMatricula}]]
							<br>
							<br>
							Datos del propietario:
							<br>
							[[${propietario.getApellido}]] [[${propietario.getNombre}]], DNI - [[${propietario.getDni}]]
							<br>
						</p>
					</div>
					<div class="row">
						<div class="d-flex justify-content-center mb-2">
							<input type="submit" class="btn btn-success" name="btnConfirmar" value="Confirmar">
							<a class="btn btn-danger ms-2" th:href="@{/agregarInspeccion}">Salir</a>
						</div>
					</div>
				</div>
			</form>
			<form method="post" th:action="@{/seleccionarInspector}" class="mb-3 pb-2 pt-2 d-flex justify-content-center" th:object="${inspectorActual}" th:if="${inspectorActual != null}">
				<input type="hidden" th:value="${idVehiculo}" name="idVehiculo">
				<div class="col-md-6">
					<div class="row text-center">
						<span th:if="${inspectorActual.getLegajo == 0}">
						<h4>Seleccione el inspector</h4>
						<div class="input-group">
							<select th:field="*{legajo}" class="form-control">
								<span th:each="inspector : ${listaInspectores}">
									<option th:value="${inspector.getLegajo}">[[${inspector.getLegajo}]] - [[${inspector.getApellido}]], [[${inspector.getNombre}]]</option>
								</span>
							</select>
							<input type="submit" class="btn btn-outline-secondary" name="btnSeleccionar" value="Seleccionar">
						</div>
						</span>
						<span th:if="${inspectorActual.getLegajo != 0}">Inspector seleccionado: <b>[[${inspectorActual.getLegajo}]] - [[${inspectorActual.getApellido}]], [[${inspectorActual.getNombre}]]</b></span>
					</div>
				</div>
			</form>
		</div>
		<div class="container d-flex justify-content-center" th:if="${inspectorActual != null}">
			<form class="col-md-6" th:action="@{/agregarInspeccion/agregar}" method="post" th:object="${listaEstados}" th:if="${inspectorActual.getLegajo != 0}">
				<input type="hidden" th:value="${inspectorActual.getLegajo}" name="legajo">
				<input type="hidden" th:value="${idVehiculo}" name="idVehiculo">
				<div class="form-control mb-3">
					<div class="row">
						<b class="pb-2">Mediciones</b>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoSuspension" style="width:40%;">Estado de suspensión</label>
							<select class="form-select" id="estadoSuspension" name="suspension" th:field="*{suspension}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoDireccion" style="width:40%;">Estado de dirección</label>
							<select class="form-select" id="estadoDireccion" name="direccion" th:field="*{direccion}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoFrenos" style="width:40%;">Estado de frenos</label>
							<select class="form-select" id="estadoFrenos" name="frenos" th:field="*{frenos}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoContaminacion" style="width:40%;">Estado de contaminación</label>
							<select class="form-select" id="estadoContaminacion" name="contaminacion" th:field="*{contaminacion}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
					</div>
				</div>
				<div class="form-control mb-3">
					<div class="row">
						<b class="pb-2">Observaciones</b>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoLuces" style="width:40%;">Estado de luces</label>
							<select class="form-select" id="estadoLuces" name="luces" th:field="*{luces}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoPatente" style="width:40%;">Estado de patente</label>
							<select class="form-select" id="estadoPatente" name="patente" th:field="*{patente}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoEspejos" style="width:40%;">Estado de espejos</label>
							<select class="form-select" id="estadoEspejos" name="espejos" th:field="*{espejos}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoChasis" style="width:40%;">Estado de chasis</label>
							<select class="form-select" id="estadoChasis" name="chasis" th:field="*{chasis}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoVidrios" style="width:40%;">Estado de vidrios</label>
							<select class="form-select" id="estadoVidrios" name="vidrios" th:field="*{vidrios}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoSeguridad" style="width:40%;">Estado de seguridad</label>
							<select class="form-select" id="estadoSeguridad" name="seguridad" th:field="*{seguridad}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="estadoEmergencia" style="width:40%;">Estado de emergencia</label>
							<select class="form-select" id="estadoEmergencia" name="emergencia" th:field="*{emergencia}" th:disabled="${estado != null}">
								<div th:replace="layout/estructura :: estados"></div>
							</select>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center mb-2">
					<span th:if="${estado == null}">
						<input type="submit" class="btn btn-success" name="btnGuardarInspeccion" value="Guardar" th:disabled="${estado != null}">
					</span>
				</div>
			</form>
		</div>
	<script	th:replace="layout/estructura :: scripts"></script>
</body>
</html>