<!DOCTYPE html>
<html>
	<head th:replace="layout/head"></head>
	<body>
		<header th:replace="layout/header"></header>
		<div class="container pt-5">
			<div class="col-md-12">
				<div class="row d-flex justify-content-center">
					<div class="col-md-8">
						Inspecciones
						<div class="input-group mb-3">
							<div th:if="${listaInspecciones != null or listaInspecciones.isEmpty}">
								<select class="form-select">
									<option value="" selected>Seleccionar Inspeccion</option>
									<span th:each="inspeccion : ${listaInspecciones}">
										<option value="3" th:text="${inspeccion}">[propietario]</option>
									</span>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex justify-content-center">
						<a class="btn btn-success" style="width: auto;" href="/">Volver a inicio</a>
					</div>
				</div>		
			</div>
		</div>
	<script	th:replace="layout/scripts"></script>
</body>
</html>