<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<div th:if="${listaMarcas != null or listaMarcas.isEmpty}">
			<div class="container d-flex justify-content-center">
				<div class="col-md-6">
					<div class="row mb-3">
						<select class="form-control">
							<option selected>Elija la marca</option>
							<span th:each="marca : ${listaMarcas}">
								<option>[[${marca.getNombre}]] - [[${marca.getID}]]</option>
							</span>
						</select>
					</div>
					<div class="row mb-3">
						<input type="submit" class="btn btn-success" name="btnBuscarModelos" value="Buscar modelos">
					</div>
					Ayax?
					<div class="row mb-3">
						<b>Modelos del ID [[${ID1}]] - [[${listaMarcas.get(ID1-1)}]]</b>
						<select class="form-control">
							<option selected>Modelos</option>
							<div th:if="${listaModelos1 != null or listaModelos1.isEmpty}">
								<span th:each="modelo : ${listaModelos1}">
									<option th:text="${modelo}"></option>
								</span>
							</div>
						</select>
					</div>
					<div class="row mb-3">
						<b>Modelos del ID [[${ID2}]] - [[${listaMarcas.get(ID2-1)}]]</b>
						<select class="form-control">
							<option selected>Modelos</option>
							<div th:if="${listaModelos2 != null or listaModelos2.isEmpty}">
								<span th:each="modelo : ${listaModelos2}">
									<option th:text="${modelo}"></option>
								</span>
							</div>
						</select>
					</div>
					<div class="row mb-3">
						<b>Modelos del ID [[${ID3}]] - [[${listaMarcas.get(ID3-1)}]]</b>
						<select class="form-control">
							<option selected>Modelos</option>
							<div th:if="${listaModelos3 != null or listaModelos3.isEmpty}">
								<span th:each="modelo : ${listaModelos3}">
									<option th:text="${modelo}"></option>
								</span>
							</div>
						</select>
					</div>
					<div class="row mb-3">
						<b>Modelos del ID [[${ID4}]] - [[${listaMarcas.get(ID4-1)}]]</b>
						<select class="form-control">
							<option selected>Modelos</option>
							<div th:if="${listaModelos4 != null or listaModelos4.isEmpty}">
								<span th:each="modelo : ${listaModelos4}">
									<option th:text="${modelo}"></option>
								</span>
							</div>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout/estructura :: desarrollo"></div>
	</body>
	<script	th:replace="layout/estructura :: scripts"></script>
</html>