<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<div class="container pt-1">
			<div class="col-md-12 d-flex justify-content-center">
				<a class="btn btn-success" href="/estructura :: agregarVehiculo"><i class="bi bi-file-plus">&nbsp;Nuevo vehículo</i></a>
			</div>
			<div class="col-md-12">
				<div class="row d-flex justify-content-center">
				</div>
				<div class="row">
					<table id="tabla" class="table table-striped table-bordered table-sm table-responsive pt-1 pb-1">
						<thead>
							<tr>
								<th>Matricula</th>
								<th>Marca</th>
								<th>Modelo</th>
								<th>Propietario: Nombre</th>
								<th>Propietario: DNI</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<div th:if="${listaVehiculos != null or listaVehiculos.isEmpty}">
								<tr th:each="vehiculo : ${listaVehiculos}">
									<td class="text-center" th:text="${vehiculo.getMatricula}">[Matricula]</td>
									<td class="text-center" th:text="${vehiculo.getMarca}">[Marca]</td>
									<td class="text-center" th:text="${vehiculo.getModelo}">[Modelo]</td>
									<td class="text-center" th:text="${vehiculo.getPropietario().getNombre}">[Nombre_propietario]</td>
									<td class="text-center" th:text="${vehiculo.getPropietario().getDni}">[Dni_propietario]</td>
									<td class="text-center">
										<a class="btn btn-warning p-1"><i class="bi bi-pencil-square" title="Editar"></i></a>
										<a class="btn btn-danger p-1"><i class="bi bi-trash" title="Borrar"></i></a>
									</td>
								</tr>
							</div>
						</tbody>
					</table>
			</div>
				<div class="row">
					<div class="col d-flex justify-content-center">
						<a class="btn btn-success" style="width: auto;" th:href="@{/index}">Volver a inicio</a>
					</div>
				</div>		
			</div>
		</div>
		<hr/>
		<div id="pruebaMatricula1" class="alert alert-dark" th:if="${matricula1 != null or matricula1.isEmpty and existeMatricula1 != null}">
			<a>Matricula "[[${matricula1}]]" - Existe: [[${existeMatricula1}]]</a>
		</div>
		<div id="pruebaMatricula2" class="alert alert-dark" th:if="${matricula2 != null or matricula2.isEmpty and existeMatricula2 != null}">
			<a>Matricula "[[${matricula2}]]" - Existe: [[${existeMatricula2}]]</a>
		</div>
	</body>
	<script	th:replace="layout/estructura :: scripts"></script>
</html>