<!DOCTYPE html>
<html>
	<head th:replace="layout/estructura :: head"></head>
	<body>
		<header th:replace="layout/estructura :: header"></header>
		<div th:replace="layout/estructura :: titulo"></div>
		<div class="container pt-1">
			<div class="col-md-12 d-flex justify-content-center">
				<a class="btn btn-success" th:href="@{/agregarVehiculo}"><i class="bi bi-file-plus">&nbsp;Nuevo vehículo</i></a>
			</div>
			<div class="col-md-12">
				<div class="row d-flex justify-content-center">
				</div>
				<div class="row">
					<table id="tabla" class="text-center table table-striped table-bordered table-sm table-responsive pt-1 pb-1">
						<thead>
							<tr>
								<th>Matricula</th>
								<th>Marca</th>
								<th>Modelo</th>
								<th>Propietario: Nombre</th>
								<th>Propietario: DNI</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<div th:if="${listaVehiculos != null or listaVehiculos.isEmpty}">
								<tr class="text-center" th:each="vehiculo : ${listaVehiculos}">
									<td th:text="${vehiculo.getMatricula}">[Matricula]</td>
									<td th:text="${vehiculo.getMarca}">[Marca]</td>
									<td th:text="${vehiculo.getModelo}">[Modelo]</td>
									<td>Nombre [en desarrollo]</td>
									<td>Apellido [en desarrollo]</td>
									<td>
										<a class="btn btn-warning p-1"><i class="bi bi-pencil-square" title="Editar"></i></a>
										<a class="btn btn-danger p-1"><i class="bi bi-trash" title="Borrar"></i></a>
									</td>
								</tr>
							</div>
						</tbody>
					</table>
				</div>
				<div class="row mb-4">
					<div class="col d-flex justify-content-center">
						<a class="btn btn-success" style="width: auto;" th:href="@{/index}">Volver a inicio</a>
					</div>
				</div>		
			</div>
		</div>
	</body>
	<script	th:replace="layout/estructura :: scripts"></script>
</html>