<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/estructura :: head"></head>
<body class="text-center">
	<header th:replace="layout/estructura :: header"></header>
	<div th:replace="layout/estructura :: titulo"></div>
	<hr>
	<h4><b>Prueba de lista de marcas</b></h4>
	<hr>
	<div class="d-flex justify-content-center" th:if="${marcas != null}">
		<div>
			<div class="col">
				<div class="row">
					<table class="table table-striped table-light table-responsive border border-2 border-dark">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="marca : ${marcas}">
								<td>[[${marca.getNombre}]]</td>
								<td><a th:href="@{/index?seleccion=} + ${marca.getNombre}">Seleccionar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<form th:action="@{/index}" method="get" class="form-control">
						<div class="input-group">
							<select class="form-select" required>
								<option selected>Seleccione una marca</option>
								<span th:each="marca : ${marcas}">
									<option name="marcaElegida">[[${marca.getNombre}]]</option>
								</span>
							</select>
							<input type="submit" class="btn btn-outline-secondary" name="seleccionarMarca" value="Seleccionar">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>